---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Prueba CMS y 11ty</title>

{% endblock %}

{% block content %}
	

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>2 posibilidades</h1>
          <h2>Datos estáticos de excel o manejador de contenido</h2>
        </div>
      </div>

      <div class="row icon-boxes col-lg-6" style="margin: 30px auto">
        <div class="col-md-6 col-lg-6 d-flex align-items-center mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="/articulos11ty/index.html">11ty</a></h4>
			<p class="description">(generador de páginas estáticas)</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 d-flex align-items-center mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="/articuloscms/index.html">Netlify CMS</a></h4>
            <p class="description">(manejador de contenido dinámico)</p>
          </div>
        </div>


      </div>
    </div>
  </section><!-- End Hero -->

  
{% endblock %}

{% block body_javascripts %}

{% endblock %}